
body{
 height: 100vh;
 width: 100vw;
 background-color: rgb(26, 26, 131);
}

h1{
    font-size: 2em;
    font-family:'Courier New', Courier, monospace;
    margin-bottom: 15rem;
    color: rgb(154, 187, 255);
    font-weight: 500;
    text-align: center;
}

.container{
    display: flex;
    height: 50vh;
    background-color: rgb(26, 26, 131);
    justify-content: space-evenly;
    align-items: start;

}

 img{
    height: 12rem;
    width: 12rem;
    background: none;
    background-color: rgb(26, 26, 131);
   

}

button{
 border: none;
 padding-block: 0px;
 padding-inline: 0px;
 letter-spacing: 0%;
 word-spacing: 0%;
 line-height: 0%;
}


footer{
    text-align: center;
    color: rgb(154, 187, 255);
}